/* General */

body {
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
}

/* Navbar */

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img {
  height: 6.5vh;
  width: auto;
  color: rgba(255, 255, 255, 0.8);
  transition: all .3s;
}

.nav-img:hover {
  color: white;
  cursor: pointer;
}

.nav-menu {
  color: white;
  margin-right: 5px;
}

.nav-menu a {
  color: rgba(255, 255, 255, 0.8);
  transition: all .3s;
}

.nav-menu a:hover {
  color: white;
}

/* Hero */

.hero {
  background-image: url('https://images.unsplash.com/photo-1533779283484-8ad4940aa3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c28abca5496f663d907e0306008213f7&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-header {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.hero-button {
  border-radius: 5px;
  border: none;
  background-color: white;
  overflow: hidden;
  transition: all .2s;
}

.hero-button:hover {
  background-color: white;
  cursor: pointer;
  transform: translateY(-2px);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.hero-button:active,
.hero-button:focus {
  outline: none;
}