/* General */

body {
  font-family: 'Cabin', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

/* Navbar */

.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img {
  height: 6.5vh;
  width: auto;
  color: rgba(255, 255, 255, 0.8);
  transition: all .3s;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.nav-img:hover {
  color: white;
  cursor: pointer;
}

.nav-menu {
  color: white;
  margin-right: 1rem;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.nav-menu a {
  color: white;
  transition: all .3s;
}

.nav-menu a:hover {
  color: white;
}

/* Hero */

.hero {
  background-image: url('https://images.unsplash.com/photo-1533779283484-8ad4940aa3a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10vh;
}

.hero-header {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.search-form {
  width: 33vw;
}

/* Featured Properties */

.featured {
  padding: 0 2rem;
}

.featured-header {
  font-size: 2.6rem;
  font-weight: 300;
}

.card-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.card-row::-webkit-scrollbar {
  display: none;
}

.featured-card {
  background-size: 100%;
  width: 22vw;
  height: 33vw;
  flex: 0 0 auto;
}

.featured-card:hover .featured-card-info {
  opacity: 1;
  cursor: pointer;
}

.featured-card-1 {
  background-image: url('https://images.unsplash.com/photo-1520608421741-68228b76b6df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=393fcadf2e10144e50dd093172240956&auto=format&fit=crop&w=1834&q=80');
}
.featured-card-2 {
  background-image: url('https://images.unsplash.com/photo-1502005097973-6a7082348e28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6bedf6512ecc1532edd8f41b6f51bc4b&auto=format&fit=crop&w=1834&q=80');
}
.featured-card-3 {
  background-image: url('https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-0.3.5&s=c351edea110e5b405aca5f8b0e164b23&auto=format&fit=crop&w=1834&q=80');
}
.featured-card-4 {
  background-image: url('https://images.unsplash.com/photo-1518733057094-95b53143d2a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cea1c1f5cfaee3e93a091eb7c24085ea&auto=format&fit=crop&w=1815&q=80');
}
.featured-card-5 {
  background-image: url('https://images.unsplash.com/photo-1524061511843-fd43443e3cb2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=038fed104fee31eafa5138f8304c4905&auto=format&fit=crop&w=1536&q=80');
}
.featured-card-6 {
  background-image: url('https://images.unsplash.com/photo-1514053026555-49ce8886ae41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf1b03e32965fe620418a04acaef217d&auto=format&fit=crop&w=1834&q=80');
}
.featured-card-7 {
  background-image: url('https://images.unsplash.com/photo-1535441577682-5a7bc0702a7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=077e17fb017e1258f3d5d3709729640a&auto=format&fit=crop&w=634&q=80');
}
.featured-card-8 {
  background-image: url('https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7e89aa20603ea9fe62ddc6014276ca41&auto=format&fit=crop&w=1834&q=80');
}
.featured-card-9 {
  background-image: url('https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1d7ce94cbe867b0563dbb554ba430a17&auto=format&fit=crop&w=1834&q=80');
}
.featured-card-10 {
  background-image: url('https://images.unsplash.com/photo-1527605555-b01c458b8029?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=82ca9204853d17536c2b56446cb012f8&auto=format&fit=crop&w=634&q=80');
}
.featured-card-11 {
  background-image: url('https://images.unsplash.com/photo-1538978939284-4ecb3fc4ad5e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce9ab6f3f4eaf4d7b67246794345e3c1&auto=format&fit=crop&w=1834&q=80');
}

.featured-card-info {
  opacity: 0;
  transition: all .3s;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.4);
}

.featured-card-city {
  text-align: left;
  font-size: 1rem;
}

.featured-card-price {
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18%;
}

.featured-card-price button {
  width: 50%;
  align-self: center;
}

.featured-card-details {
  text-align: right;
  font-size: 1rem;
}

.featured-card-img {
  width: 100%;
  height: 100%;
}

.card-row:hover .arrow-link {
  opacity: 0.8;
}

.arrow-link {
  opacity: 0;
  transition: all .3s;
  display: none;
  position: absolute;
  height: 33vw;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.arrow-link-left {
  position: absolute;
  left: 0%;
  padding-right: 0;
}

.arrow-link-right {
  position: absolute;
  right: 0%;
}

.arrow-link {
  color: rgba(255, 255, 255, 0.8);
}

.arrow-link:hover {
  color: white;
  cursor: pointer;
}

.arrow-left {
  color: rgba(255, 255, 255, 0.8);
  transition: all .3s;
}

.arrow-left:hover {
  color: white;
}

.arrow-right {
  color: rgba(255, 255, 255, 0.8);
  transition: all .3s;
}

.arrow-right:hover {
  color: white;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  padding: 1rem 3rem;
  background-color: rgb(235, 235, 235);
  color: rgba(0, 0, 0, 0.8);
}

.footer-img {
  height: 3.5vh;
}

.footer-img img {
  height: 100%;
}

.footer-text {
  margin: 0;
  font-weight: 300;
}









/* Media Queries */

@media(max-width: 1200px) {
  .hero {
    background-image: url('https://images.unsplash.com/photo-1518733057094-95b53143d2a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cea1c1f5cfaee3e93a091eb7c24085ea&auto=format&fit=crop&w=1815&q=80');
    background-size: 150%;
  }

  .hero-header {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
  }

  .search-form {
    width: 90vw;
  }

  .featured {
    padding-left: 0;
  }

  .featured-header {
    font-size: 2rem;
  }

  .featured-card {
    position: relative;
    width: 66vw;
    height: 99vw;
  }

  .featured-card-price {
    height: auto;
  }

  .featured-card-price button {
    width: auto;
  }

  .arrow-link, 
  .arrow-right,
  .arrow-left {
    visibility: hidden;
  }
}